services:
  db:
    image: postgres:16
    container_name: inventory_db
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: inventory
      POSTGRES_PASSWORD: inventory
    ports:
      - "5432:5432"
    volumes:
      - inventory_pgdata:/var/lib/postgresql/data

volumes:
  inventory_pgdata:
